<ul class="nav" id="side-menu">
                        	
                                    <li>
                                        <a th:href="@{/busi/book}">Sách</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/busi/clothes}">Quần áo</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/busi/electronic}">Đồ điện tử</a>
                                    </li>
                                 
</ul>